$color-white: #fff;
$color-grey-0: #f8f8f8;
$color-grey-1: #f0f0f0;
$color-grey-2: #dadada;
$color-grey-3: #aeaeae;
$color-grey-4: #707070;
$color-grey-5: #545454;

$duration-short: .25s;
$duration-normal: .4s;
$duration-long: .5s;

$timing-bezier: cubic-bezier(.66, .06, .4, .98);
$timing-bezier-fast: cubic-bezier(.19, 1, .22, 1);

@import "elements/select";
